* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--dark-text);
    overflow-x: hidden;
    background: var(--white-background);
}

:root {
    /* --dark-background: #374b5d; */
    --dark-background: #333333;
    --white-background: #f8f8f8;
    --light-background: #e9eaec;

    --dark-text: #666666;
    --darker-text: #333333;
    --white-text: #ffffff;
    --light-text: #e9eaec;

    --accent-primary: #e43630;
    --accent-secondary: #344d9c;

    --border-radius: 0px;
}

h1 {
    font-size: 2em;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 
.dienst-blok:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.dienst-blok:nth-child(2n+1) .text-blok {
    padding-left: 0;
} */

.dienst-blok:nth-child(2n) .text-blok::after {
    /* background: red; */
    left: 2rem;
}

.afspraakOnder {
    z-index: 99;
}

code {
    font-family: menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 2px;
}

.button-dark {
    border: 2px solid var(--dark-background);
    background: none;
    color: var(--darker-text);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 100ms ease-in, color 100ms ease-in;
}

.button-dark:hover {
    background: var(--dark-background);
    color: var(--white-text);
    /* box-shadow: 0px 0px 2px 1px var(--accent-secondary); */
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}